---
const nombre = "Dario"

---

<button class="bg-slate-500 w-20 h-10 rounded-full text-white" id="boton">{nombre}</button>

<script>
    const boton = document.getElementById("boton")
    boton?.addEventListener('click', function (){
        console.log("Hola pe causa");
    })
</script>