/*selector de tipo*/
h1 {
    color: black;
}

/*selector universal*/
* {
    color: rgb(85, 85, 167);
}

ul {
    background-color: rgb(233, 250, 137);
}

/*selector de clase*/
.texto {
    color: darkgreen;
}

/*selector de ID*/
#texto2 {
    font-family: impact;
    color: dimgray;
}