---
import Layout from "../layouts/Layout.astro";
import Lista from "../components/ListaEstudiantes.astro";
import * as JsonEstudiantes from "../../estudiante.json";

export interface Estudiante {
  id: number;
  nombre: string;
  curso: string;
}

const dato = JsonEstudiantes as Estudiante;
const estudiantes: String[] = [
  dato.nombre,
  dato.nombre,
  dato.nombre,
  dato.nombre,
  dato.nombre,
];
console.log(estudiantes);

for (let i = 0; i < estudiantes.length; i++) {
  const element = estudiantes[i];
  console.log(element);
}
---

<Layout title="Welcome to Astro.">
  <div class="w-screen h-screen bg-white p-4">
    <table class="estudiantes-table border-2">
      <thead>
        <tr>
          <th>Estudiantes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Estudiante 1</td>
        </tr>

        <tr>
          <td>Estudiante 2</td>
        </tr>

        <tr>
          <td>Estudiante 3</td>
        </tr>

        <tr>
          <td>Estudiante 4</td>
        </tr>

        <tr>
          <td>Estudiante 5</td>
      </tr>
      </tbody>
    </table>
  </div>
</Layout>

