h1 {
    text-align: center;
    background-color: lightgreen;
    border: 1px solid black;
}

.barra {
    border: 1px solid black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: rgb(255, 255, 167);
}

[href] {
    text-decoration: none;
    color: green;

}