<!-- Aqui se coloca toda la estructura del html -->
<body>
    <header>
        <div class="bg-gray-100 w-full flex flex-col px-20 pt-3">
            <div class="flex">
                <div class="">
                    <img
                        src="https://fundacionalbertomarvelli.org/wp-content/uploads/2022/05/logo-sin-fondo.png"
                        alt="logo"
                    />
                </div>
                <div class="w-full">
                    <ul class="flex justify-between items-center h-full">
                        <li class="pl-8">
                            <a href="#" class="flex flex-row text-xl">
                                <i class="bi bi-envelope pr-2"></i>
                                <p>info@fundacionalbertomarvelli.org</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="flex flex-row text-xl">
                                <i class="bi bi-telephone pr-2"></i>
                                <p>+502 2209-9999</p>
                            </a>
                        </li>
                        <li>
                            <div
                                class="w-28 h-14 flex justify-evenly items-center"
                            >
                                <i
                                    class="bi bi-facebook size-8 text-4xl flex items-center"
                                ></i>
                                <i
                                    class="bi bi-instagram size-8 text-4xl flex items-center text-gray-400"
                                ></i>
                            </div>
                        </li>
                        <li>
                            <div
                                class="flex flex-row bg-red-600 h-14 w-32 items-center justify-evenly text-white"
                            >
                                <p>Dona Hoy</p>
                                <i class="bi bi-heart"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <nav class="py-4">
                <ul class="flex flex-row justify-between font-bold">
                    <li
                        class="bg-yellow-500 h-8 w-56 flex justify-center items-center"
                    >
                        <a href="#"
                            ><p class="border-b-2 border-black">Inicio</p></a>
                    </li>
                    <li
                        class="bg-yellow-500 h-8 w-56 flex justify-center items-center"
                    >
                        <a href="#">Nosotros</a>
                    </li>
                    <li
                        class="bg-yellow-500 w-56 flex justify-center items-center"
                    >
                        <a href="#">Vida en CFP</a>
                    </li>
                    <li
                        class="bg-yellow-500 h-8 w-56 flex justify-center items-center"
                    >
                        <a href="#">Enlances</a>
                    </li>
                    <li
                        class="bg-yellow-500 h-8 w-56 flex justify-center items-center"
                    >
                        <a href="#">Contacto</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="bg-blue-700 tamanio_imagen flex justify-center items-end pb-5">
        <div class="flex flex-row w-32 justify-evenly">
            <button class="bg-yellow-300 size-6 rounded-full"></button>
            <button class="bg-yellow-100 size-6 rounded-full"></button>
            <button class="bg-yellow-100 size-6 rounded-full"></button>
        </div>
    </div>

    <div>
        <div class="flex flex-row justify-center text-6xl py-8 font-bold">
            <p>Capacítate y Prepárate para un mejor</p><p
                class="text-red-500 pl-2">
                FUTURO
            </p>
        </div>
        <div>
            <div class="flex flex-row w-full justify-evenly pb-8">
                <div class="bg-yellow-500 w-80 h-56  flex flex-col justify-center">
                    <p>Carreras Técnicas</p>
                    <p>Estudia con nosotros</p>
                    <button class="bg-white w-28 h-8">Ver más</button>
                </div>

                <div class="bg-yellow-500 w-80 h-56">
                </div>

                <div class="bg-yellow-500 w-80 h-56">
                </div>  
            </div>

            <div class="flex flex-row w-full justify-evenly pb-8">
                <div class="bg-yellow-500 w-80 h-56  flex flex-col">
                    <p>Carreras Técnicas</p>
                    <p>Estudia con nosotros</p>
                    <button class="bg-white w-28 h-8">Ver más</button>
                </div>

                <div class="bg-yellow-500 w-80 h-56">
                </div>

                <div class="bg-yellow-500 w-80 h-56">
                </div>  
            </div>
        </div>
    </div>
</body>

<style>
    .tamanio_imagen {
        height: 575px;
    }
</style>
