---
import Layout from "../layouts/Layout.astro";
import BurryLoadings from "../components/BurryLoading.astro";
---

<Layout title="Welcome to Astro.">
    <div class="flex w-screen h-screen justify-center items-center">
        <BurryLoadings/>
    </div>
</Layout>