*{
    padding: 0;
    margin: 0;
}

header{
    color: white;
    background-color: black;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
}

.logo{
    width: 45px;
    height: 45px;
}

.primera{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.segunda{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.btn{
    color: white;
    border: 1px solid white;
    background-color: transparent;
}


select{
    color: white;
    border-color: black;
    background-color: transparent;
}

.bosco{
    width: 35%;
    height: 35%;
}

main{
    background: linear-gradient(70deg, blue, red);
    display: flex;
    flex-direction: row;
}

.informacion{
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 15%;
}

.btn1:hover{
    background-color: transparent;
    border: solid 1px black;
}

.btn2:hover{
    background-color: transparent;
    border: solid 1px black;
}

.btn1{
    border: black;
    color: white;
    width: 10rem;
    height: 3rem;
    background-color: black;
}

.btn2{
    width: 10rem;
    height: 3rem;
}

 .cuadros{
    display: grid;
    grid-template-columns: 25% 25% 40%;
    background-color: #000;
    gap: 5%;
    padding: 5%;
 }

 .cuadros .item {
    background-color: #1E1E1E;
 }

.cuadros .item-info{
    padding-top: 15%;
 } 

 .cuadros p, .cuadros h3{
    color: #fff;
 }

 .item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 5%;
 }



