.borde1{
    border-style: dashed;
    border-color: rgb(50, 107, 212); 
}

.borde2{
    border-style: double;
    border-color: hotpink;
}

.borde3{
    border-style: ridge ;
    border-color: darkgoldenrod;
}

