*{
    background-color: antiquewhite;
    margin: 0;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cara{
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.recipiente_ojos{
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 5px;
}


.ojo{
    background-color: black;
    width: 40px;
    height: 40px;
    transition: all 0.5s;
    animation: ojitos 6s infinite;
}

/*--------------------------*/

@keyframes ojitos {
    0%{
        border-radius: 20px;
        transform: translate(0px);
        width: 30px;
        height: 30px;
    }

    25%{
        border-radius: 20px;
        transform: translate(15px,35px);
        width: 30px;
        height: 40px;
    }

    45%{
        border-radius: 20px;
        transform: translate(45px,-10px);
        width: 30px;
        height: 40px;
    }

    60%{
        border-radius: 20px;
        transform: translate(0px,0px);
        width: 30px;
        height: 30px;
    }

    80%{
        border-radius: 20px;
        transform: 
        translate(0px,0px);
        width: 30px;
        height: 5px;
    }

    100%{
        border-radius: 20px;
        transform: translate(0px);
        width: 30px;
        height: 30px;
    }
}