body {
    background-color: rgb(223, 205, 159);
}

h1 {
    text-align: center;
    background-color: rgba(126, 31, 31, 0.719);
    border-style: dotted;
}

main {
    border-style: ridge;
    border-color: darkgoldenrod;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
}