*{
    margin: 0%;
    padding: 0%;
}

.contenedor{
    display: flex;
    flex-direction: column;
}

body{
    color: #555555;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, serif;
    font-size: 18px;
    background: radial-gradient(circle at 50% 50%, #131A27 20%, #07090E);
}

.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.title{
    margin: 2vh;
}

.signos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
    margin: 2vh;
    font-size: 3rem;
    height: 5vh;
    width: 5vh;
}

.lineas{
    border-bottom: 0.3rem dotted #555555;
    width: 30vh;
}


.imagenes{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 2rem;
}


.imagenes p{
    text-align: left;
    margin-left: 5%;
    font-size: 3rem;
    height: 100%;
    border-radius: 5%;
}

.transparencia{
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, rgba(255, 255, 255,1)6%, rgba(209,21,21,0)20%, rgba(26, 3, 3, 0)80%, rgba(255, 255,255,1)96%);
    border-radius: 5%;
}

.transparencia:hover{
    color: transparent;
    background: transparent;
}

.primer, .segundo, .tercer, .cuarto{
    background-size: cover;
    height: 450px;
    width: 300px;
    border-radius: 10%;
    
}

.primer{
    background-image: url(casas/casa1.jpg);
}

.segundo{
    background-image: url(casas/casa2.jpg);
}

.tercer{
    background-image: url(casas/casa3.jpg);
}

.cuarto{
    background-image: url(casas/casa4.jpg);
}

.resto{
    height: 50px;
    margin-left: 30%;
    margin-right: 30%;
}
.navegacion{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #343A46;
    width: 600px;
    height: 75px;
    border-radius: 10px;
}

.nav_numeros{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 240px;
}

button{
    font-size: 1.2em;
    margin-top: 15px;
    width: 50px;
    height: 50px;
    background-color: #e4e9f3;
    border: 2px solid #555555;
    border-radius: 10px;
    font-weight: bold;
    color: #6781F7;
    cursor: pointer;
    border-color: transparent;
}

.nav_numeros div:first-child button{
    background-color: #6781F7;
    color: white;
}

.flechas{
    background-color: transparent;
    color: white;
}

button:hover {
    background-color: #6781F7;
    color: white;
}
  
