.titulo{
    text-align: center;
}

.palabra{
    width: 400px;
    height: 200px;
}

.parrafo_tamaño{
    width: 15em;
    height: 20em;
}

.rem{
    border: 1rem solid black;
}

.ultimo{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}